/* ============================================================================================== */
/* Reset Styles                                                                                   */
/* ============================================================================================== */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

img {
  border: 0;
}

figure {
  margin: 0;
}

/* ============================================================================================== */
/* Base Typographic Styles                                                                        */
/* ============================================================================================== */

body {
  font-family: sans-serif;
}

p {
  line-height: 1.5;
  margin: 0 0 1.5em 0;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

small {
  font-size: 80%;
}

a {
  color: blue;
}

abbr {
  font-size: 85%;
}

address {
  display: inline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 100%;
  font-weight: bold;
  line-height: 1;
  text-rendering: optimizelegibility;
}

ul, ol {
  padding: 0;
  margin: 0 0 1.5em 1em;
}

li {
  line-height: 1.5;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ============================================================================================== */
/* Demo Styles - Do most, if not all, of your work here.                                          */
/* ============================================================================================== */

@font-face {
    font-family: 'PlayfairDisplay';
    src:url('../fonts/playfairdisplay-regular.eot');
    src:url('../fonts/playfairdisplay-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfairdisplay-regular.woff') format('woff'),
        url('../fonts/playfairdisplay-regular.ttf') format('truetype'),
        url('../fonts/playfairdisplay-regular.svg#playfairdisplay-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplaySCItalic';
    src:url('../fonts/playfairdisplaysc-italic.eot');
    src:url('../fonts/playfairdisplaysc-italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfairdisplaysc-italic.woff') format('woff'),
        url('../fonts/playfairdisplaysc-italic.ttf') format('truetype'),
        url('../fonts/playfairdisplaysc-italic.svg#playfairdisplaysc-italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplaySC';
    src:url('../fonts/playfairdisplaysc-regular.eot');
    src:url('../fonts/playfairdisplaysc-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfairdisplaysc-regular.woff') format('woff'),
        url('../fonts/playfairdisplaysc-regular.ttf') format('truetype'),
        url('../fonts/playfairdisplaysc-regular.svg#playfairdisplaysc-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src:url('../fonts/opensans-light-webfont.eot');
    src:url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-light-webfont.woff') format('woff'),
        url('../fonts/opensans-light-webfont.ttf') format('truetype'),
        url('../fonts/opensans-light-webfont.svg#opensans-light-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src:url('../fonts/opensans-regular-webfont.eot');
    src:url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular-webfont.woff') format('woff'),
        url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
        url('../fonts/opensans-regular-webfont.svg#opensans-regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

article {
  border-top: 4px solid;
  font-family: 'OpenSans', Arial, sans-serif;
  margin: auto;
  max-width: 1024px;
}

p {
  float: right;
  font-size: 1.1em;
  padding-right: 3em;
  width: 70%;
}

a {
  color: black;
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article header {
  float: right;
  margin: 1.5em 0;
  padding-right: 3em;
  width: 70%;
}

article header h1 {
    font-family: 'PlayfairDisplay', 'Times New Roman', serif;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.25em;
}

article header h2  {
  font-family: 'OpenSans', Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: 0.25em;
}

aside {
  float: right;
  font-family: 'PlayfairDisplaySC', 'Times New Roman', serif;
  font-size: 1.25em;
  line-height: 1;
  margin: 0 0em 1em 0em;
  padding-right: 3em;
  text-align: left;
  text-indent: -1em;
  width: 70%;
}

aside.pull-quote:before {
  content: '\00a7';
}

aside {
  font-family: 'PlayfairDisplaySC', 'Times New Roman', serif;
  font-size: 1.5em;
  line-height: 1;
}

aside h3 {
  font-family: 'PlayfairDisplaySCItalic', 'Times New Roman', serif;
  font-size:1.25em;
  line-height: 1;
}

figure img {
  max-width: 100%;
}

figcaption, aside p {
  font-family: 'OpenSans-Regular', 'Times New Roman', serif;
  font-size: 0.667em;
  line-height: 2.25;
}

figcaption a {
  font-family: 'OpenSans-Bold', Arial, sans-serif;
}

article footer p {
  margin-bottom: 0.5em;
}

.byline {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-size: 0.667em;
  line-height: 2.25;
}

.caption {
  font-size: 0.444em;
  line-height: 3.75;
}

.image {
  float: right;
  padding-right: 3em;
  width: 70%;
}

.callout {
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
  float: left;
  margin: 0 1em 1em 0;
  padding: 1em 0;
  text-align: right;
  width: 25%;
}

.callout p {
  margin-bottom: 0;
}

/* Helper Classes =============================================================================== */

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.hide {
  display: none !important;
  visibility: hidden; }

.show {
  display: block !important; }

.visually-hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.invisible {
  visibility: hidden; }
